
@{
    ViewData["Title"] = "CanvasChart";
}

<h1>Canvas 長條圖</h1>
<canvas id="myCanvas" width="400" height="300"></canvas>
@section Scripts {
    <script>
        const canvas = document.querySelector("#myCanvas");
        const context = canvas.getContext("2d");
        const datas = [90, 50, 170, 180, 50, 60];
        let w = 50;
        let x = 20;
        let y = canvas.height;
        context.fillStyle = "green";
        for (let i = 0, max = datas.length; i < max; i++) {
            h = datas[i];
            context.fillRect(x, y - h, w, h);
            x = x + w + 10;
        }

        

    </script>
}

@section Styles{
    <style>
        #myCanvas {
            border: 1px solid green;
        }
    </style>
}