
@{
    ViewData["Title"] = "Chatroom";
}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card text-bg-success">
            <div class="card-header  d-flex justify-content-between align-items-center">
                <span>聊天室</span>
                <div class="input-group  w-25">
                    <i class="bi bi-person-fill input-group-text"></i>
                    <input type="text" id="userName" class="form-control" placeholder="姓名">
                </div>
                
     
            </div>
            <div class="card-body">
              
            </div>
        </div>
     
    </div>
    <div class="col-2"></div>
</div>
<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-7">
        <input type="text" id="message" class="form-control" placeholder="請輸入訊息" />
    </div>

    <div class="col-1"><input type="button" id="buttonSend" value="發送" class="btn btn-primary" /></div>
    <div class="col-2"></div>
</div>
@section Scripts {
    <script>

    </script>
}

@section Styles{
    <style>

    </style>
}