
@{
    ViewData["Title"] = "SharedWorker2";
}

<h1>SharedWorker2</h1>
<input type="button" id="buttonSend" value="send">
<div id="div1"></div>
@section Scripts{
    <script>
        const myDiv = document.querySelector('#div1');
        document.querySelector("#buttonSend").addEventListener("click", function () {
            //建立SharedWorker物件
            var worker = new SharedWorker("/js/SharedWorker.js");
            //傳送資料給worker
            worker.port.start();
            worker.port.postMessage({ "name": "Tracy" });

            //接收worker傳過來的資料
            
            worker.port.onmessage = event => myDiv.innerHTML = event.data;
            
        })
    </script>
}