
@{
    ViewData["Title"] = "CanvasChart";
}

<h1>Canvas 長條圖</h1>
<canvas id="myCanvas" width="400" height="300"></canvas>
@section Scripts {
    <script>       
        const datas = [90, 50, 170, 180, 50, 60];
      
        

    </script>
}

@section Styles{
    <style>
        #myCanvas {
            border: 1px solid green;
        }
    </style>
}