@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @*  <div class="col">
    <div class="card h-100 text-bg-light">
    <div class="card-header">
    <h5>主題</h5>
    </div>
    <div class="card-body">
    <p>說明</p>
    <a href="#" class="btn btn-primary">範例 </a>
    <a href="#" class="btn btn-secondary">練習 </a>
    </div>
    <div class="card-footer">
    <small>API網址</small>
    </div>
    </div>
    </div> *@
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>表單驗證</h5>
            </div>
            <div class="card-body">
                <p>HTML5 提供了一些內建的驗證屬性，瀏覽器針對這些驗證，提供了預設的驗證訊息及訊息顯示的方式，這裡的練習主要是學習如何自訂錯誤訊息及顯示的方式</p>
                <a href="~/home/formpractice" class="btn btn-primary">內建表單驗證設定</a>
                <a href="~/home/FormCustomValidation" class="btn btn-success">自訂表單驗證練習</a>
            </div>
            <div class="card-footer"><small>https://html.spec.whatwg.org/multipage/forms.html#forms</small></div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>&lt;audio&gt;</h5>
            </div>
            <div class="card-body">
                <p>在網頁上播放音樂可以使用&lt;audio&gt;，也可以透過Audio API控制音樂的播放</p>
                <a href="~/home/audio" class="btn btn-primary">Audio API 播放音樂</a>
            </div>
            <div class="card-footer">

                <small>https://html.spec.whatwg.org/multipage/media.html#the-audio-element</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>&lt;video&gt;</h5>
            </div>
            <div class="card-body">
                <p>在網頁上播放影片可以使用&lt;vedio&gt;標籤，它有跟Audio標籤一樣的API</p>
                <a href="~/home/vedio" class="btn btn-primary">影片播放</a>
            </div>
            <div class="card-footer">
                <small>https://html.spec.whatwg.org/multipage/media.html#the-video-element</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>Canvas</h5>
            </div>
            <div class="card-body">
                <p>要在網頁上繪圖就是要使用&lt;canvas&gt;，canvas 標籤就像是將圖紙準備好，然後透過繪圖物件，在圖紙上繪圖</p>
                <a href="~/home/canvas" class="btn btn-primary">基本圖形</a>
                <a href="~/home/canvasbarchart" class="btn btn-secondary">長條圖</a>
                <a href="~/home/drawing" class="btn btn-success">小畫家</a>
            </div>
            <div class="card-footer">
                <small>https://html.spec.whatwg.org/multipage/canvas.html#the-canvas-element</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>SVG</h5>
            </div>
            <div class="card-body">
                <p>SVG（Scalable Vector Graphics），可以使用標籤的方式在網頁上繪製向量圖形，圖形在放大縮小時不會失真。</p>
                <a href="~/home/svg" class="btn btn-primary">基本圖形</a>
                <a href="~/home/svgbarchart" class="btn btn-secondary">長條圖</a>
            </div>
            <div class="card-footer">
                <small>https://www.w3.org/Graphics/SVG/</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>Drag And Drop</h5>
            </div>
            <div class="card-body">
                <p>當使用者滑鼠點選某個標籤時，可以透過拖曳的方式移動標籤，在移動到某個規劃好的區域時，可以放開滑鼠，將此標籤移動到此區域</p>
                <a href="~/home/draganddrop" class="btn btn-primary">拖曳及放下</a>
                <a href="~/home/shopping" class="btn btn-success">加入購物車</a>
             
            </div>
            <div class="card-footer">
                <small>https://html.spec.whatwg.org/multipage/dnd.html#dnd</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>File And FileReader</h5>
            </div>
            <div class="card-body">
                <p>使用者選取了檔案後，可以透過 File API 用來取得檔案相關資訊，透過 FileReader API 取得檔案內容</p>
                <a href="~/home/fileapi" class="btn btn-primary">File API</a>
                <a href="~/home/filereadertext" class="btn btn-secondary">讀取文字</a>
                <a href="~/home/filereaderimage" class="btn btn-info">讀取圖片</a>
            </div>
            <div class="card-footer">
                <small>https://www.w3.org/TR/FileAPI/</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>Web Storage</h5>
            </div>
            <div class="card-body">
                <p>在瀏覽器中除了可以透過 cookies 儲存一些資料外，也可以透過 Web storage 來儲存</p>
                <a href="~/home/webstorage" class="btn btn-primary">localStorage vs sessionStorage</a>
                <a href="~/home/stickynotes" class="btn btn-success">便利貼</a>
            </div>
            <div class="card-footer">
                <small>https://html.spec.whatwg.org/multipage/#toc-webstorage</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>Server Sent Event</h5>
            </div>
            <div class="card-body">
                <p>Server Sent Event 是一種單向通訊的技術，讓瀏覽器可以單方向的收到伺服器傳送過來的資料</p>
                <a href="~/home/sseclient" class="btn btn-primary">EventSource</a>
                <a href="~/home/youbikeclient" class="btn btn-success">Youbike即時資訊</a>
            </div>
            <div class="card-footer">
                <small>API網址</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>WebSocket</h5>
            </div>
            <div class="card-body">
                <p>說明</p>
                <a href="#" class="btn btn-primary">範例 </a>
                <a href="#" class="btn btn-secondary">練習 </a>
            </div>
            <div class="card-footer">
                <small>API網址</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>啟動圖示</h5>
            </div>
            <div class="card-body">
                <p>說明</p>
                <a href="#" class="btn btn-primary">範例 </a>
                <a href="#" class="btn btn-secondary">練習 </a>
            </div>
            <div class="card-footer">
                <small>API網址</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>Notification</h5>
            </div>
            <div class="card-body">
                <p>說明</p>
                <a href="#" class="btn btn-primary">範例 </a>
                <a href="#" class="btn btn-secondary">練習 </a>
            </div>
            <div class="card-footer">
                <small>API網址</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>Geolocation</h5>
            </div>
            <div class="card-body">
                <p>說明</p>
                <a href="#" class="btn btn-primary">範例 </a>
                <a href="#" class="btn btn-secondary">練習 </a>
            </div>
            <div class="card-footer">
                <small>API網址</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>Web Workers</h5>
            </div>
            <div class="card-body">
                <p>說明</p>
                <a href="#" class="btn btn-primary">範例 </a>
                <a href="#" class="btn btn-secondary">練習 </a>
            </div>
            <div class="card-footer">
                <small>API網址</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 text-bg-light">
            <div class="card-header">
                <h5>附錄</h5>
            </div>
            <div class="card-body">
                <p>說明</p>
                <a href="#" class="btn btn-primary">範例 </a>
                <a href="#" class="btn btn-secondary">練習 </a>
            </div>
            <div class="card-footer">
                <small>API網址</small>
            </div>
        </div>
    </div>
</div>