
@{
    ViewData["Title"] = "Notification";
}

<h1>Notification</h1>
<button id="button1" class="btn btn-primary">桌面提醒功能</button>


@section Scripts{
    <script>
        document.querySelector("#button1").addEventListener("click", notifyMe);
      
        function notifyMe() {
           
        }

     
    </script>
}
