
@{
    ViewData["Title"] = "Notification";
}

<h1>Notification</h1>
<button id="button1" class="btn btn-primary">桌面提醒功能</button>


@section Scripts{
    <script>
        document.querySelector("#button1").addEventListener("click", notifyMe);
      
        async function notifyMe() {
            const permission = await Notification.requestPermission();
            if (permission === "granted") {
                new Notification("WebAPIs課程將結束", {
                    body: "結束時間是2024/4/17 16:30",
                    tag: "iSpan",
                    icon: "/images/flower.jpg"
                });

            } else if (permission === "denied") {
                console.log("拒絕通知");
            } else {
                console.log("default");
            }
        }

     
    </script>
}
