
@{
    ViewData["Title"] = "Vedio";
}

<h1>Vedio</h1>
<p>使用Vedio標籤播放影片</p>
<video controls poster="~/images/bunny.png">
    <source src="/videos/big_buck_bunny.mp4" type="video/mp4" />
    <source src="/videos/big_buck_bunny.webm" type="video/webm" />
    <source src="/videos/big_buck_bunny.ogv" type="video/ogg" />
</video>
