
@{
    ViewData["Title"] = "WebStorage";
}

<h1>WebStorage</h1>
<input type="text" placeholder="local storage" id="txt1" />
<input type="text" placeholder="session storage" id="txt2" />
<input type="button" value="Save" id="buttonSave">
<input type="button" value="Get" id="buttonGet">
<input type="button" value="Remove" id="buttonRemove">
<div id="div1"></div>

@section Scripts{
    <script>
        const btnSave = document.querySelector("#buttonSave");
        const btnGet = document.querySelector("#buttonGet");
        const btnRemove = document.querySelector("#buttonRemove");
        const txtLocal = document.querySelector("#txt1");
        const txtSession = document.querySelector("#txt2");
        const myDiv = document.querySelector("#div1");

        btnSave.addEventListener("click",  ()=>{
            //資料寫入localStorage中
            localStorage.setItem("local1", txtLocal.value);

            //資料寫入sessionStorage中
            sessionStorage.setItem("session1", txtSession.value);

        })

        btnGet.addEventListener("click", ()=> {
            //讀出localStorage與sessionStorage中的資料，顯示在div中
            const local = localStorage.getItem("local1");
            const session = sessionStorage.getItem("session1");
            myDiv.textContent = `localStorage: ${local}，sessionStorage：${session}`;

            let str = "";
            //讀取多筆資料
            for (let i = 0, max = localStorage.length; i < max;i++){
                const kn = localStorage.key(i); //取的keyname
                console.log(localStorage.getItem(kn));
            }
        
        })

        btnRemove.addEventListener("click", ()=>{
            //刪除單筆資料
            //localStorage.removeItem("local2");
            //清除所有資料
            localStorage.clear();
           
        })
    </script>
}