
@{
    ViewData["Title"] = "WebSocket";
}

<h1>WebSocket</h1>
<div id="div1"></div>

@section Scripts{
    <script>
        const host = "wss://echo.websocket.org/";
        const myDiv = document.querySelector('#div1');

       

    </script>
}