@{
    ViewData["Title"] = "YoubikeClient";
}

<h1>YoubikeClient</h1>
<p>資料來源：https://data.taipei/dataset/detail?id=c6bc8aed-557d-41d5-bfb1-8da24f78f2fb</p>

<div id="content"></div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-5">
</div>

@section Scripts {
    <script>
        const row = document.querySelector('.row');
        let i = 0;
        //todo1：建立EventSource物件，與 Server Sent Event Server ('/answers/youbikeserver')建立連線
        const source = new EventSource('@Url.Content("~/answers/youbikeserver")');

      
        //todo2：接收Server傳回來的結果，要使用甚麼事件，將______換成適當的事件
        source.addEventListener("message", event => {
            //收到的是JSON字串，使用前要轉成JSON物件
            const datas = JSON.parse(event.data);  //todo3：將______換成正確的取得資料的語法
            const htmlYoubike = datas.map(data => {
                return (`
                     <div class="col">
                        <div class="card h-100 text-bg-light">
                            <div class="card-header">
                                <h5>${data.sna}</h5>
                            </div>
                            <div class="card-body">
                                <p>總停車格：${data.tot}</p>
                                <p>目前車輛數量：${data.sbi}</p>
                                <p>空位數量：${data.bemp}</p>
                                <p>住址：${data.sarea}${data.ar}</p>
                            </div>
                            <div class="card-footer">
                                  <small>最後更新時間：${data.updateTime}</small>
                            </div>
                        </div>
                    </div>
                                `);
            })

            row.innerHTML = htmlYoubike.join("");

        });


       


    </script>
}

@section Styles {
    <style>

    </style>
}